@import '../utils/mixins';

.achievements__section {
  background-color: #29170c;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #ffffff;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 4em 0em 5em 0em;
}
.achievements__title {
  font-family: 'Playfair Display', Sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0px;

  background: linear-gradient(90deg, #bd976e 45%, #ffffff 50%, #bd976e 60%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 0.5s;
  text-align: center;
}

.achievements__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 3em;
}
.achievements__item {
  text-align: center;
  width: 172px;
  height: 115px;
}
.list__icon {
  color: #bd976e;
  font-size: 50px;
  margin-bottom: 10px;
  transition: transform 0.4s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.list__title {
  font-family: 'Playfair Display', Sans-serif;
  font-size: 22px;
  font-weight: 500;

  background: linear-gradient(90deg, #bd976e, #ffffff, #bd976e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 0.5s;
  &:hover {
    color: #ffffff;
  }
}
