.services__section {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/Angel.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
